@import 'src/assets/scss/vars';

.container {
  margin: 30% $size-4 $size-4;
  text-align: center;
  .header {
    margin: $size-0;
  }
  .description {
    max-width: 300px;
    margin-bottom: $size-7;
  }

  .button {
    margin-top: $size-3;
    width: 200px;
  }
}
